@font-face {
    font-family: 'Old Standard';
    src: url('../public/fonts/OldStandardTT-Bold.ttf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Old Standard';
    src: url('../public/fonts/OldStandardTT-Regular.ttf') format('truetype'); 
   

    font-weight: normal;
    font-style: normal;
  }
  
